.material-symbols-outlined {
	font-family: "Material Symbols Outlined";
}
/* Defaulting Style */
* {
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

#grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 15% 70% 15%;
	grid-template-rows: 10% 1fr;
	grid-auto-flow: column;
	justify-items: center;
	/* background-color: antiquewhite; */
	/* background-image: url("../static/map/middle-earth-map.jpg"); */
	/* backdrop-filter: blur(10px); */
	/* filter: blur(1px); */
	/* background-image: url(); */
}

.background-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-image: url("../static/map/middle-earth-map.jpg");
	width: 100vw;
	height: 100vh;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	filter: brightness(0.5) blur(5px);
}

.top-btneer {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: fit-content;
	height: fit-content;
	display: flex;
	gap: 1rem;
}
.top-btn {
	cursor: pointer;
	padding: 0.8rem;
	border-radius: 5px;
	color: #ffffff;
	top: 1rem;
	left: 1rem;
	background-color: hsl(0, 0%, 38.82%);
}
.top-btn:hover {
	background-color: hsl(0, 0%, 58.82%);
}

a {
	cursor: pointer;
}

svg {
	display: none;
	width: clamp(80%, max-content, 100%);
	grid-column: 2;
	grid-row: 2;
	justify-self: center;
	align-self: center;
}
/* 
#rightMask {
	display: none;
}
#leftMask {
	display: none;
} */

p {
	justify-self: left;
}

dialog {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;

	padding: 3rem;
	margin: 1rem;
	width: min(fit-content) max(30vw);
	height: max-content;
	background-color: #ffffffdb;
	align-self: center;
	justify-self: center;
	border: solid hsl(0, 0%, 48.82%);
	outline: none;
	border-radius: 11px;
}
h2 {
	line-height: 3rem;
}

.charDialog {
	width: 50%;
	height: 80%;
	display: grid;
	grid-template-columns: 1fr 7fr 1fr;
	grid-template-rows: 1fr 1fr 5fr 2fr 2fr;
	justify-items: center;
	align-items: center;
}
.charDialog > h1 {
	grid-column: 2;
	grid-row: 1;
	justify-self: center;
	color: #636363b5;
}
.charDialog > h2 {
	grid-column: 2;
	grid-row: 2;
	justify-self: center;
}

.charDialog > img {
	width: 60%;
	grid-column: 2;
	grid-row: 3;
	border-radius: 11px;
	aspect-ratio: 16/9;
	object-fit: cover;
}
.charDialog > p {
	grid-row: 4;
	grid-column: 2;
	justify-self: center;
	width: 45ch;
	margin-top: 1rem;
}
.charDialog > span {
	background-color: hsl(0, 0%, 90%);
	border-radius: 100px;
	padding: 1.5rem;
	align-self: center;
	justify-self: center;
}
.charDialog > span:hover {
	background-color: hsl(0, 0%, 95%);
	border-radius: 100px;
	padding: 1.5rem;
	align-self: center;
	justify-self: center;
}
.charDialog > .path-button {
	width: 40%;
	grid-row: 5;
	grid-column: 2;
	justify-self: center;
	margin-top: 1rem;
}

#arrow-forward {
	cursor: pointer;
	grid-column: 3;
	grid-row: 3;
}
#arrow-back {
	cursor: pointer;
	grid-column: 1;
	grid-row: 3;
}

nav {
	width: clamp(fit-content, 60%, 60%);
	grid-column: 2/3;
	grid-row: 1;
	padding: 1rem;
	align-self: center;
	justify-self: center;

	display: grid;
	row-gap: 1rem;
	column-gap: 1rem;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
}
.nav-interface {
	width: 60%;
	grid-row: 1;
	padding: 1rem;
	align-self: center;
	justify-self: center;

	display: flex;
}

.path-button {
	grid-row: 1;
	width: 100%;
	padding: 1rem;
	height: min-content(10vh);
	align-self: center;
	justify-self: center;

	font-size: 1rem;
	cursor: pointer;
	font-weight: 600;
	border-style: none;
	border-radius: 5px;
	background-color: hsl(0, 0%, 38.82%);
	color: white;
}
.path-button:hover {
	background-color: hsl(0, 0%, 58.82%);
}
#roamfree {
	grid-row: 2;
	grid-column: 1/3;
	width: 100%;
	border: solid #87ceeb;
}
#originpath-btn {
	border: solid green;
}
#legacypath-btn {
	border: solid gold;
}

.path-button-interface {
	grid-row: 1;
	grid-column: 2;
	padding: 1rem;
	height: min-content(10vh);
	align-self: center;
	justify-self: center;

	font-size: 1rem;
	cursor: pointer;
	font-weight: 600;
	border-style: none;
	border-radius: 5px;
	background-color: hsl(0, 0%, 38.82%);
	color: white;
}

button {
	outline: none;
}

.tooltip {
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	position: fixed;
	margin: auto;
	padding: 1.5rem;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 10px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
	z-index: 1000;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: auto;
	max-width: 50rem; /* Ensure tooltip card has a max-width */
	max-height: 30rem;
	height: fit-content;
	overflow: hidden; /* Hide overflow if content is too big */
}

.tooltip.hidden {
	display: none;
}

.tooltip h1 {
	font-size: 22px;
	margin-bottom: 0.5rem;
}

.tooltip .container {
	display: flex; /* Use flexbox for image + content side by side */
	justify-content: flex-start;
	align-items: flex-start;
}

.tooltip img {
	max-width: 12rem; /* Limit image width */
	height: auto;
	border-radius: 8px;
	margin-bottom: 10px;
	object-fit: contain; /* Scale image to fit */
}

.selection-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	height: fit-content;
}

.complexity,
.length {
	text-align: left;
}

.tooltip-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.tooltip-navigation button {
	padding: 8px 15px;
	font-size: 14px;
	background-color: #444;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.description {
	overflow-y: auto;
	max-height: 10rem;
	margin-bottom: 1rem;
}

.tooltip-navigation button:hover {
	background-color: #666;
}

#close-tooltip {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
	background: none;
	border: none;
	color: white;
}

#close-tooltip:hover {
	color: red;
}

.bmMapDialog {
	display: grid;
	grid-template-columns: 1fr, fit-content;
	padding: 0;
	align-content: center;
	justify-content: center;
}
.bmMapDialog > img {
	width: 60%;
	align-self: center;
}
.bmMapDialog > span {
	display: block;
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}
